<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">BabyTracker on %h</name>
  <service>
    <type>_https._tcp</type>
    <port>8099</port>
  </service>
</service-group>
